footer {
  font-size: 1.5vw;
  background: @gray10;
  padding: 40px;
  width: 100%;

  .cl-third {
    border: 1px solid @gray30;
    padding: 50px;
  }

  h2 {
    background: @gray50;
    color: @gray10;
    padding: 5px;
  }

  p {
    padding-bottom: 20px;
  }

  #action {
    display: flex;
    flex-direction: column;
    input, button {
      font-size: 1.5vw;
      padding: 5px;
      margin-bottom: 15px;
    }
  }

}