.container {
  margin-top: 50px;
  width: 95%;
  padding: 20px 40px;
  margin: 0 auto;
}

#photographer {
  border-radius: 20px;
  display: block;
  margin: auto;
  width: 800;
  height: 533;
}

header {
  display: flex;
  margin-top: 15vw;
  margin-bottom: 8vh;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    // color: white;
    text-shadow: 3px 3px @gray30;
  }

  img {
    width: 100%;
    @media @tablet {
      width: 95%;
      margin: 0 auto;
    }
  }

}

.panel {
  margin-bottom: 60px;

  @media @tablet {
    h2 {
      text-align: center;
    }
    .cl-food-group {
      flex-direction: column;
      justify-content: space-between;
      .cl-quarter {
        img{
          margin: 5px 0 5px 0;
        }

        width: 95%;
        margin: 0 auto;
      }
    }  
  }

  h2 {
    margin-bottom: 20px;
  }
}

#about-me {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 40px 0;
  @media @tablet {
    width: 100%;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
  }

  img {
    width: 100%;
  }

  .cl-half {
    width: 45%;
    // @media @tablet {
    //   margin: 0 auto;
    //   width: 100%;
    // }

    p {
      font-size: 1.5vw;
      @media @mobile {
        font-size: 3vw;
      }
    }

    h2,
    p {
      font-family: @cursive;
    }
  }

  @media @tablet {
    flex-direction: column-reverse;
    align-content: space-between;

    img {
      margin-top: 20px;
    }

    h2 {
      font-size: 4vw;
    }

    .cl-half {
      width: 90%;
      margin: 0 auto;
    }
  }


}

img {
  box-shadow: @the-shadows;
}