// Mixins in here
.btn(@background-color, @color) {
  padding: 12px;
  font-size: 2rem;
  color: @color;
  text-align: center;
  border-radius: 15px;
  width: 85%;
  background-color: @background-color;
  cursor: pointer;
  &:hover {
    background-color: darken(@background-color, 7%)
  }
}

.cl-quarter {
  width: 24%;
  img {
    width: 100%;
    height: auto;
  }
}

.cl-third {
  width: 33%;
}

.cl-half {
  width: 50%;
}

.cl-whole {
  width: 100%;
}

.cl-food-group {
  display: flex;
  justify-content: space-between;
}

.panel {
  h1 {
    border: none;
    text-align: left;
    margin: 10vh 0 5vh 0;
  }
}