// Navigation Styles here
nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;  
  background: @gray30;
  margin-bottom: 20px;
  ul {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
  }
}


