// Colors
@white: #FFFFFF;
@dark-gray:#464655;
@gray50: #94958b;
@gray40:#b7b6c1;
@gray30:#d5cfe1;
@gray10:#f5edf6;
@myblue: blue;

// Color assignments 
@main-bg:  @white;
@footer-bg: @gray30;

// Mobile design
@mobile: ~ "(max-width: 500px)";

// Tablet design
@tablet: ~ "(max-width: 1200px)";

// What now?
// testing ...