// Colors
@white: #FFFFFF;
@dark-gray:#464655;
@gray50: #94958b;
@gray40:#b7b6c1;
@gray30:#d5cfe1;
@gray10:#f5edf6;
// @silver: #C0C0C0;
// @shark: #212529;
// @eastern-blue: #17A2B8;
// @sandy-beach: #FFEBCD;

// Color assignments 
// @font-color: @shark;
// @button-bg: @eastern-blue;
@main-bg:  @white;
// @navigation-border: @silver;
@footer-bg: @light-gray;

// Mobile design
@mobile: ~ "(max-width: 500px)";

// Tablet design
@tablet: ~ "(max-width: 1200px)";